@keyframes shake{
    0% { transform: translateX(0); }
    25% { transform: translateX(-15px); }
    50% { transform: translateX(15px); }
    75% { transform: translateX(-15px); }
    100% { transform: translateX(0); }
}

.error{
    box-shadow: 0 0 5px red;
    animation: shake 0.4s;
}