*{
    background: black;
    color: white;
    margin: 0;
    padding: 0;
}

@keyframes slideIn{
    from{
        transform: translateY(15%);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

.slide-in{
    animation: slideIn 1s ease-out 0.5s forwards;
}

.navbar{
    margin: 2rem 6rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: left;
    flex: 1;
    font-weight: bolder;
    font-size: 20px;
}
.logo img{
    max-width: 20px;
    max-height: 20px;
    margin: auto 5px;
}
.menu{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    flex: 4;
    margin: auto 5%;
}
.menu a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}
.menu a:hover{
    text-decoration: underline overline rgba(255, 255, 255, 0.7);
    color: rgba(255, 255, 255, 1);
}

.search{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.47);
    border-radius: 100px;
    flex: 5;
    margin: auto 20px;
    min-height: 35px;
}
.search-lable{
    flex: 1;
    margin: 5px;
    position: relative;
    display: inline-block;
}
.search-lable::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px; 
    background: white; 
    transition: width 0.4s ease, left 0.4s ease;
}
.search-lable:focus-within::after{
    width: 100%;
    left: 0;
}
.search-line{
    width: 100%;
    border: none;
    outline: none;
    margin: auto 5px;
}
.icon{
    display: inline;
    margin: 5px 15px 5px 5px;
    max-width: 16px;
    max-height: 16px;
    color: rgba(255, 255, 255, 0.35);
}
.icons{
    display: flex;
    justify-content: space-between;
    flex: 1;
}
.icons img{
    width: 20px;
    height: 20px;
}
.view{
    display: flex;
    margin: 81px 6rem;
}
.view button:hover{
    background: rgba(255, 255, 255, 0.2);
    transform: scale(1.05);
}
.title{
    flex: 1;
    margin-right: 40px;
}
.culinary{
    margin-bottom: 2rem;
    padding: 3px 20px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 245px;    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}
.title h1{
    font-family: "Playfair Display";
    font-size: 80px;
    font-weight: 400;
    line-height: 110px;
    letter-spacing: 0%;
}
.description{
    margin-top: 83px;
    margin-right: 40%;
}
.description h2{
    margin-left: 30%;
    color: rgba(255, 255, 255, 0.63);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}
.buttons{
    margin-top: 60px;
    margin-left: 30%;
}
.started{
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 7px;    
    padding: 7px 20px;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}
.market{
    position: relative;
    left: 80%;
    bottom: 40%;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}
.market img{
    background: transparent;
}
.preview{
    display: flex;
    justify-content: right;
    flex: 1;
}
.preview img{
    flex: 1;
    max-width: 600px;
    max-height: 600px;
    background: rgb(196, 196, 196);
}
.ingredient, .foods{
    display: flex;
    align-items: center;
    min-width: 50px;
    min-height: 20px;
    max-width: 250px;
    max-height: 100px;
    margin-top: 5%;
    margin-left: -20%;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    backdrop-filter: blur(41px);
    background: rgba(255, 255, 255, 0.08);
}
.foods{
    margin-top: 50%;
    margin-right: -20%;
}
#ingredient, #foods{
    background: transparent;
    margin: auto 15px;
}
.ingredient div, .foods div{
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    padding: 16px;
    margin-left: 20px;
}
.ingredient div img, .foods div img{
    background: transparent;
}