*{
    background: black;
    color: white;
    margin: 0;
    padding: 0;
}
.navbar{
    margin: 20px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 0;
}
.logo img{
    max-width: 16px;
    max-height: 16px;
    margin: auto 5px;
}
.menu{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    flex-grow: 2;
    margin: auto 5%;
}
.menu a{
    text-decoration: none;
    display: block;
    position: relative;
}

.search{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.47);
    border-radius: 100px;
    flex-grow: 1;
    margin: auto 20px;
}
.search-lable{
    flex: 1;
    margin: 5px;
}
.search-line{
    width: 100%;
    border: none;
    outline: none;
    margin: auto 5px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
.search-line:hover{
    border-bottom-width: 2px;
}
.icon{
    display: inline;
    margin: 5px 15px 5px 5px;
    max-width: 16px;
    max-height: 16px;
    color: rgba(255, 255, 255, 0.35);
}
